<div class="container fill">
  <div class="step">
    <span>PokéStop eintragen</span>
    <ng-select class="pokestops"
               [items]="pokestops"
               [virtualScroll]="true"
               bindValue="pokestop_id"
               bindLabel="pokestop_name"
               placeholder="PokéStop"
               [(ngModel)]="pokestop_id">
      <ng-template ng-label-tmp ng-option-tmp let-item="item">
        <img height="25" width="25" [src]="'assets/icons/stop/pokestop_open.png'"/>
        {{item.pokestop_name}}
      </ng-template>
    </ng-select>
  </div>

  <div *ngIf="pokestop_id" class="step">
    <span><strong>Quest eintragen</strong></span>
    <ng-select
      [items]="quests"
      [virtualScroll]="true"
      bindValue="quest_id"
      bindLabel="quest_name_trans"
      placeholder="Quest"
      [searchFn]=""
      (change)="getRewards(quest_id)"
      [(ngModel)]="quest_id">
    </ng-select>
    <button *ngIf="!quest_id" mat-button type="button" (click)="pokestop_id = null; quest_id = null;">
      <mat-icon>keyboard_backspace</mat-icon>
      Zurück
    </button>
  </div>

  <div *ngIf="quest_id" class="step">
    <span><strong>Belohnung eintragen</strong></span>
    <ng-select
      [items]="rewards"
      [virtualScroll]="true"
      bindValue="reward_id"
      bindLabel="reward_name_trans"
      placeholder="Quest"
      [searchFn]=""
      (change)="getPokemon(reward_id)"
      [(ngModel)]="reward_id">
      <ng-template ng-label-tmp ng-option-tmp let-item="item" let-clear="clear">
        <img height="25" width="25" [src]="'assets/icons/items/' + item.reward_name.toLowerCase() + '.png'"/>
        <span class="ng-value-label">{{ (item.reward_count ? item.reward_count + ' ' : '') + item.reward_name_trans }}</span>
      </ng-template>
    </ng-select>
    <div *ngIf="reward_id !== '1'">
      <button mat-button type="button" (click)="quest_id = null; reward_id = null">
        <mat-icon>keyboard_backspace</mat-icon>
        Zurück
      </button>
      <button mat-button (click)="sendData()">
        <mat-icon>send</mat-icon>
        Absenden
      </button>
    </div>
  </div>

  <div *ngIf="reward_id === '1'" class="step">
    <span><strong>Pokémon auswählen</strong></span>
    <ng-select
      [items]="pokemon"
      [virtualScroll]="true"
      bindValue="pokemon_id"
      bindLabel="pokemon_name_trans"
      placeholder="Quest"
      [searchFn]=""
      [(ngModel)]="pokemon_id">
      <ng-template ng-label-tmp ng-option-tmp let-item="item" let-clear="clear">
        <img height="25" width="25" [src]="'assets/icons/pokemon/' + (item.pokemon_id === '0' ? 'null' : item.pokemon_id) + '.png'"/>
        <span class="ng-value-label">{{ item.pokemon_name_trans }}</span>
      </ng-template>
    </ng-select>
    <button mat-button type="button" (click)="quest_id = null; reward_id = null; pokemon_id = null">
      <mat-icon>keyboard_backspace</mat-icon>
      Zurück
    </button>
    <button mat-button (click)="sendData()">
      <mat-icon>send</mat-icon>
      Absenden
    </button>
  </div>
</div>
