.quest-card {
  width: 100%;
  margin-bottom: 10px;
}

.pokestop-header-image {
  background-image: url('../../assets/icons/pokestop-blue.png');
  background-size: cover;
}

.done {
  background-image: url('../../assets/icons/pokestop-violette.png');
}