<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#"><strong>PGOQuests Bonn</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link"><i class="fa fa-search" aria-hidden="true"></i>Quest Übersicht</a>
      </li>
      <li class="nav-item waves-light" (click)="form.show()" mdbWavesEffect>
        <a class="nav-link"><i class="fa fa-plus-square" aria-hidden="true"></i>Quest eintragen</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link disabled"><i class="fa fa-map-o" aria-hidden="true"></i>Karte (Coming Soon)</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<!--Modal: Contact form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-pencil"></i> Quest eintragen</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
            Questtyp wählen...
          </button>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>

        <div class="text-center mt-1-half">
          <button class="btn btn-info mb-2 waves-light" mdbWavesEffect>Absenden <i class="fa fa-send ml-1"></i></button>
        </div>
      <!-- /Body -->
      </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Contact form-->

<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">PokeStop Name</h5>
            <small>Questname</small>
          </div>
          <p class="mb-1">Rewards<br />Teil 2</p>
          <button type="button" class="btn btn-info waves-light" mdbWavesEffect>In Google Maps anzeigen</button>
        </a>
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->
